<div class="text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Filit</h1>
       <% if @files.count > 0 %>
        <p class="alert alert-success" id="exampleModalLongTitle">Access file with your passphrase (username: admin)</p>
       <% end %>
       <button type="button" class="btn btn-primary add-file-btn" data-toggle="modal" data-target="#addNewFile"> Add new file</button>
         <% if @upload.errors.any? %>
            <div class="alert alert-danger" role="alert">
              <% @upload.errors.full_messages.each do |message| %>
                <span><%= message %></span><br>
              <% end %>
            </div>
          <% end %>

          <% flash.each do |name, msg| %>
            <div class='alert alert-<%= "#{name}" %>'>
              <a href="#" class="close" data-dismiss="alert">&#212;</a>
              <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
            </div>
          <% end %>
      <div>
      <% if @files.count < 1 %>
          <h4 class="text-center no-record"> No files yet, click add file to uploda file </h4>
      <% else %>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
        <% @files.each_with_index do |file, index| %>
          <tr>
            <th scope="row"><%= (index + 1) %></th>
            <td> <%= file.title %></td>
            <td><%= file.description %></td>
            <td>
              <%= link_to 'Show files', upload_path(file.id), method: :get, :class => 'btn btn-primary btn-sm download'  %>
              <%= link_to 'Delete', upload_path(file.id), method: :delete, :class => 'btn btn-danger btn-sm download'  %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
         <div align="center">
          <%= will_paginate  @files %>
        </div>
       <% end %>
    </div>
    </main>
  </div>
</div>
<!-- Modal -->
<%= render :partial => 'new_file_modal' %>

